Computers/ComputersScreens/SampleData/DataSource/DataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.DataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.DataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataSource" type="tns:DataSource" />
  <xs:complexType name="DataSource">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
      <xs:element name="Collection1" type="tns:Collection1ItemCollection" />
      <xs:element name="Collection2" type="tns:Collection2ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="..\Images" name="Image" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="2" name="Price" type="xs:double" />
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="Collection1ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Collection1Item" type="tns:Collection1Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Collection1Item">
    <xs:attribute blend:FormatParameters="SampleData\DataSource\DataSource_Files" name="Computer" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="SampleData\DataSource\DataSource_Files" name="Component" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="Collection2ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Collection2Item" type="tns:Collection2Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Collection2Item">
    <xs:attribute blend:FormatParameters="SampleData\DataSource\DataSource_Files" name="comp1" type="tns:Basic-Image" />
  </xs:complexType>
</xs:schema>